                            <script type="text/javascript">
                                atOptions = {
                                    'key' : 'ab0b5be88252709c5589de4cc54b9f48',
                                    'format' : 'iframe',
                                    'height' : 250,
                                    'width' : 300,
                                    'params' : {}
                                };
                                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.displaynetworkcontent.com/ab0b5be88252709c5589de4cc54b9f48/invoke.js"></scr' + 'ipt>');
                            </script>