                            <script type="text/javascript">
                                atOptions = {
                                    'key' : 'dab073e9bc0120473a36fb1a3695c419',
                                    'format' : 'iframe',
                                    'height' : 250,
                                    'width' : 300,
                                    'params' : {}
                                };
                                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.displaynetworkcontent.com/dab073e9bc0120473a36fb1a3695c419/invoke.js"></scr' + 'ipt>');
                            </script>