{% extends "base.html" %}

{% block meta_og %}
	<meta property="og:title" content="Copyright - {{ SITENAME|striptags|e }}"/>
	<meta name="twitter:title" content="Copyright - {{ SITENAME|striptags|e }}"/>
	<meta property="og:url" content="{{ SITEURL }}/copyright.html" />
	<meta property="og:description" content="Copyright Page - {{ SITEDESCRIPTION|e }}" />
	<meta name="twitter:description" content="Copyright Page - {{ SITEDESCRIPTION|e }}">
	<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
	<meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/chilli-152.png" />
	<meta name="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/chilli-152.png" >
{% endblock meta_og %}

{% block head %}
{{ super() }}
	<meta name="robots" content="noindex" />
{% endblock %}

{% block banner_title %}
						<h2 class="mb-5" style="color: #ffffff;">{{ SITETITLE }}</h2>
{% endblock %}
{% block banner_cta %}
						<p><a href="#start" class="btn btn-white btn-outline-white">Get Detail</a></p>
{% endblock %}

{% block content %}
    <div id="start" class="element-animate">
		<div class="container">
			<div class="col-lg-12">
				<div class="banner-spot clearfix">
					<div class="banner-img">
						<div class="adbox">
							{% include 'ads300.html' %}

						</div>
						<div class="adbox">
							{% include 'ads300.html' %}

						</div>
					</div><!-- end banner-img -->
				</div><!-- end banner-spot -->
			</div><!-- end col -->
		</div><!-- end container -->
	</div>

	<section>
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-md-8 mb-5">
                    <h1 class="text-center">Copyright</h1>
                    <br>
                    <p class="text-justify"><strong>Digital Millennium Copyright Act Notification Guidelines</strong></p>
                    <p class="text-justify">All images displayed on this site are copyrighted to their respective owners/uploaders. <strong>domainname</strong>&nbsp;policy is to remove all images that violate copyrights. Please&nbsp;<a href="/contact.html">contact us</a>&nbsp;to request that images be removed or to assign proper credit. The images displayed on this site may be used for Free or educational purposes only. If you would like to use any of the images displayed on this site for any other purpose, please obtain permission from the owner. <strong>domainname</strong>&nbsp;does not have the rights to give you such permission. By submitting Picture(s)to <strong>domainname</strong>&nbsp;you agree that you have permission from the owner to use his/her picture(s) in your picture(s), or you own the rights yourself to the picture(s) that is(are) used in the picture(s)/photo(s) you submit. All images in this site are taken from public forum and user submit.</p>
                    <blockquote><p>“Disclaimer : <strong>domainname</strong>&nbsp;consists of a compilation of public information available on the internet. The Photo file [TITLE] Collected from multiple source in internet. We are NOT affiliated with the publisher of this part, and we take no responsibility for material inside this part.”</p></blockquote>
                    <p class="text-justify">It is our policy to respond to clear notices of alleged copyright infringement that comply with the Digital Millennium Copyright Act. In addition, we will promptly terminate without notice the accounts of those determined by us to be “repeat infringers”. domainname will respond expeditiously to claims of copyright infringement that are reported to domainname.</p>
                    <p class="text-justify">If you are a copyright owner, or are authorized to act on behalf of an owner of the copyright or of any exclusive right under the copyright, and believe that your work has been copied in a way that constitutes copyright infringement, please report your notice of infringement to domainname by providing all the necessary information through the <a href="/contact.html">Contact Page</a>.</p>

				</div>

			</div>
		</div><!-- end container -->
	</section>

    <div class="element-animate">
		<div class="container">
			<div class="col-lg-12">
				<div class="banner-spot clearfix">
					<div class="banner-img">
						<div class="adbox">
							{% include 'ads300.html' %}

						</div>
						<div class="adbox">
							{% include 'ads300.html' %}

						</div>
					</div><!-- end banner-img -->
				</div><!-- end banner-spot -->
			</div><!-- end col -->
		</div><!-- end container -->
	</div>
{% endblock %}