{% extends "base.html" %}

{% block content %}
    <div id="start" class="element-animate">
		<div class="container">
			<div class="col-lg-12">
				<div class="banner-spot clearfix">
					<div class="banner-img">
						<div class="adbox">
							{% include 'ads300.html' %}
						</div>
						<div class="adbox">
							{% include 'ads300.html' %}
						</div>
					</div><!-- end banner-img -->
				</div><!-- end banner-spot -->
			</div><!-- end col -->
		</div><!-- end container -->
	</div>

    <section id="recipes" class="section element-animate">
		<div class="clearfix mb-5 pb-5">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 text-center heading-wrap">
						<h2>Special Recipes</h2>
						<span class="back-text">Recipes</span>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-sour-soup display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Soup</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				  </div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-bread display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Bread</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-pizza display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Pizza</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-spaguetti display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Pasta</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-rice display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Rice</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-seafood display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Seafood</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-meat display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Meat Lover</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-vegetable display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Vegan</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-cheese display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Cheese</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-cupcake display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Dessert & Pastry</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-eggs display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Egg-based Food</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-wine display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Wine-based Food</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-breakfast display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Unique Food</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-italy display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Italy Regional</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-location display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">International Food</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

				<div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-center">
					<a href="recipes/index.html">
						<div class="cat">
							<span class="flaticon-nutrition display-4 text-black d-block mb-4"></span>
							<h4 class="mb-4 text-primary">Recommendation</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae hic maiores. Velit nisi, reprehenderit, nobis officia.</p>
						</div>
					</a>
				</div>

			</div><!-- end row -->
		</div><!-- end container -->
    </section>

    <div id="recommendations" class="element-animate">
		<div class="container">
			<div class="col-lg-12">
				<div class="banner-spot clearfix">
					<div class="banner-img">
						<div class="adbox">
							{% include 'ads300.html' %}
						</div>
						<div class="adbox">
							{% include 'ads300.html' %}
						</div>
					</div><!-- end banner-img -->
				</div><!-- end banner-spot -->
			</div><!-- end col -->
		</div><!-- end container -->
	</div>

    <section class="section element-animate">
		<div class="clearfix mb-5 pb-5">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 text-center heading-wrap">
						<h2>Special Dishes</h2>
						<span class="back-text">Dishes</span>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 22, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 23, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 24, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 25, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 26, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 27, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

			</div><!-- end row -->
		</div><!-- end container -->

    </section> <!-- .section -->

    <div class="element-animate">
		<div class="container">
			<div class="col-lg-12">
				<div class="banner-spot clearfix">
					<div class="banner-img">
						<div class="adbox">
							{% include 'ads300.html' %}
						</div>
						<div class="adbox">
							{% include 'ads300.html' %}
						</div>
					</div><!-- end banner-img -->
				</div><!-- end banner-spot -->
			</div><!-- end col -->
		</div><!-- end container -->
	</div>
{% endblock %}