{% extends "base.html" %}

{% block meta_og %}
	<meta property="og:title" content="All Recipes - {{ SITENAME|striptags|e }}"/>
	<meta name="twitter:title" content="All Recipes - {{ SITENAME|striptags|e }}"/>
	<meta property="og:url" content="{{ SITEURL }}/recipes.html" />
	<meta property="og:description" content="All Recipes Page - {{ SITEDESCRIPTION|e }}" />
	<meta name="twitter:description" content="All Recipes Page - {{ SITEDESCRIPTION|e }}">
	<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
	<meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/chilli-152.png" />
	<meta name="twitter:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/chilli-152.png" >
{% endblock meta_og %}

{% block content %}
    <section class="section element-animate">
		<div class="clearfix mb-5 pb-5">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 text-center heading-wrap">
						<h2>Special Dishes</h2>
						<span class="back-text">Dishes</span>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 22, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 23, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 24, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 25, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 26, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="col-md-6 mb-4">
					<div class="blog d-block d-lg-flex">
						<div class="bg-image img-hover-zoom">
							<a href="single.html">
								<img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/dishes_1.jpg" alt="Special Recipes">
							</a>
						</div>
						<div class="text">
							<h3>How to cook beef steak with sauce</h3>
							<p class="sched-time">
							  <span><span class="fa fa-calendar"></span> February 27, 2021</span>
							  <br>
							</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
							<p><a href="single.html" class="btn btn-primary btn-sm">Read More</a></p>
						</div>
					</div>
				</div>

			</div><!-- end row -->
		</div><!-- end container -->

    </section> <!-- .section -->

    <div id="recipes" class="element-animate">
		<div class="container">
			<div class="col-lg-12">
				<div class="banner-spot clearfix">
					<div class="banner-img">
						<div class="adbox">
							<script type="text/javascript">
								atOptions = {
									'key' : 'ab0b5be88252709c5589de4cc54b9f48',
									'format' : 'iframe',
									'height' : 250,
									'width' : 300,
									'params' : {}
								};
								document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.displaynetworkcontent.com/ab0b5be88252709c5589de4cc54b9f48/invoke.js"></scr' + 'ipt>');
							</script>
						</div>
						<div class="adbox">
							<script type="text/javascript">
								atOptions = {
									'key' : 'ab0b5be88252709c5589de4cc54b9f48',
									'format' : 'iframe',
									'height' : 250,
									'width' : 300,
									'params' : {}
								};
								document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.displaynetworkcontent.com/ab0b5be88252709c5589de4cc54b9f48/invoke.js"></scr' + 'ipt>');
							</script>
						</div>
					</div><!-- end banner-img -->
				</div><!-- end banner-spot -->
			</div><!-- end col -->
		</div><!-- end container -->
	</div>

	<section class="section element-animate">
        <div class="clearfix mb-5 pb-5">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 text-center heading-wrap">
						<h2>All Recipes</h2>
						<span class="back-text">Recipes</span>
					</div>
				</div>
			</div>
		</div>

		<div class="container">

			<div id="accordion" class="row">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-header" id="heading1">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
								#1
								</button>
							</h5>
						</div>
						<div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading2">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
								#2
								</button>
							</h5>
						</div>
						<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading3">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
								#3
								</button>
							</h5>
						</div>
						<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading4">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
								#4
								</button>
							</h5>
						</div>
						<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading5">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
								#5
								</button>
							</h5>
						</div>
						<div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading6">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
								#6
								</button>
							</h5>
						</div>
						<div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading7">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
								#7
								</button>
							</h5>
						</div>
						<div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading8">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
								#8
								</button>
							</h5>
						</div>
						<div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading9">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
								#9
								</button>
							</h5>
						</div>
						<div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading10">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
								#10
								</button>
							</h5>
						</div>
						<div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col-1 -->
				<div class="col-lg-6">
					<div class="card">
						<div class="card-header" id="heading11">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
								#11
								</button>
							</h5>
						</div>
						<div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading12">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
								#12
								</button>
							</h5>
						</div>
						<div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading13">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapse13">
								#13
								</button>
							</h5>
						</div>
						<div id="collapse13" class="collapse" aria-labelledby="heading13" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading14">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapse14">
								#14
								</button>
							</h5>
						</div>
						<div id="collapse14" class="collapse" aria-labelledby="heading14" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading15">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapse15">
								#15
								</button>
							</h5>
						</div>
						<div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading16">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapse16">
								#16
								</button>
							</h5>
						</div>
						<div id="collapse16" class="collapse" aria-labelledby="heading16" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading17">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapse17">
								#17
								</button>
							</h5>
						</div>
						<div id="collapse17" class="collapse" aria-labelledby="heading17" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading18">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapse18">
								#18
								</button>
							</h5>
						</div>
						<div id="collapse18" class="collapse" aria-labelledby="heading18" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading19">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse19" aria-expanded="false" aria-controls="collapse19">
								#19
								</button>
							</h5>
						</div>
						<div id="collapse19" class="collapse" aria-labelledby="heading19" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="heading20">
							<h5 class="mb-0">
								<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse20" aria-expanded="false" aria-controls="collapse20">
								#20
								</button>
							</h5>
						</div>
						<div id="collapse20" class="collapse" aria-labelledby="heading20" data-parent="#accordion">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-12 colbox-1">
										<ul>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
											<li><a href="#">Title Title Title Title Title Title Title Title Title Title Title Title Title Title Title</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end col-2 -->
			</div>
			<!-- end list -->

		</div><!-- end container -->
	</section><!-- end section -->
{% endblock %}